PORT = 8000;
CORS_ORIGNE =*

MONGODB_URI = mongodb+srv://yaduvanshi2252:<pasword>@cluster0.owywk.mongodb.net


ACCESS_TOKEN_SECRET=  
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=10d    

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""


